<footer id="footer" class="footer dark-background">

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a routerLink="/" class="logo d-flex align-items-center">
            <span class="sitename">Nedumpullil Ayurveda</span>
          </a>
            <p class="mt-3"><strong>Phone:</strong> <span> {{phoneNumber}}</span></p>
            <p><strong>Email:</strong> <span> {{emailAddress}}</span></p>
            <div class="col-md-4 mb-3">
            <p>
              Kizhakombu PO<br>
              Koothattukulam<br>
              Kochi <br>
              Kerala, India
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a routerLink="/" (click)="scrollToTop($event)">Home</a></li>
            <li><a routerLink="/about" (click)="scrollToTop($event)">About us</a></li>
            <li><a routerLink="/services" (click)="scrollToTop($event)">Services</a></li>
          </ul>
        </div>

        <div class="col-lg-6 col-md-12 footer-links">
        <h4>Our Clinics</h4>
        <div class="row">

          <div class="col-md-4 mb-3">
            <p>
              Sahya Ayurveda<br>
              Dollar Bird Campus<br>
              Bhoothethankettu, Kothamagalam<br>
              Kerala, India
            </p>
          </div>

          <div class="col-md-4 mb-3">
            <p>
              Sahya Ayurveda <br>
              kondai lip campus<br>
              Alappuzha<br>
              Kerala, India
            </p>
          </div>

        </div>
        </div>

      </div>
    </div>
  </div>

  <div class="copyright text-center">
    <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <div>
          © Copyright <strong><span>NedumpullilAyurveda</span></strong>. All Rights Reserved
        </div>
      </div>

      <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </div>

</footer>

<!-- Scroll Top -->
<a id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center" (click)="scrollToTop($event)"><i class="bi bi-arrow-up-short"></i></a>
